[Unit]
Description=Labgrid Coordinator
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/{{ ansible_user }}/.local/bin/labgrid-coordinator
Restart=on-failure
WorkingDirectory=/home/{{ ansible_user }}/labgrid-coordinator

[Install]
WantedBy=multi-user.target
